div#root div {
    padding: 50PX;
    margin: 10PX;
    border-radius: 20PX;
    background-color:rgb(195, 194, 194);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
body{
    background-color: rgb(113, 113, 113);
}
div#root {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
form input, form label{
    margin-bottom: 10px;
}

   form input {
    max-width: 200px;
    height: 20px;
    padding: 10px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
  }
  
  form input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
  }
  
  form input:active {
    transform: scale(0.95);
  }
  
  form input:focus {
    border: 2px solid grey;
  }