#toolbar {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 4vh;
}

h1, h2, h3, h4 {
    display: flex;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    width: fit-content;
    border: 2px solid black;
    font-style: italic;
    padding: 5px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 18px;
}

img {
    display: block;
    margin: auto;
    border: 2px solid black;
}

button {
    border-radius: 10px;
    height: 40px;
    font-weight: bold;
}

#all {
    height: 40px;
    font-weight: bold;
}

#lang {
    height: 35px;
    width: 50px;
}

.enabled-btn {
    background-color: #f0f0f0;
    color: #242424;
    border-radius: 0.5rem;
    box-shadow: 
      inset 0 1px 0 0 #f4f4f4,
      0 1px 0 0 #efefef,
      0 2px 0 0 #ececec,
      0 4px 0 0 #e0e0e0,
      0 5px 0 0 #dedede,
      0 6px 0 0 #dcdcdc,
      0 7px 0 0 #cacaca,
      0 7px 8px 0 #cecece;
  }
  
  .enabled-btn:hover {
    transform: translateY(4px);
    box-shadow: 
      inset 0 1px 0 0 #f4f4f4,
      0 1px 0 0 #efefef,
      0 1px 0 0 #ececec,
      0 2px 0 0 #e0e0e0,
      0 2px 0 0 #dedede,
      0 3px 0 0 #dcdcdc,
      0 4px 0 0 #cacaca,
      0 4px 6px 0 #cecece;
  }

#red-container {
    display: flex; /* Enables CSS flexbox */
 }

#red-btn {
    background-color: red;
    font-size: large;
    font-weight: bold;
    height: 150px;
    width: 150px;
    border-radius: 40%;
    border: 4px solid rgb(127, 7, 7);
    border-bottom: 12px solid rgb(127, 7, 7);
    position: absolute;
    bottom: 25px;
    right: 8px;
}

#red-btn:hover {
    transform: translateY(4px);
    box-shadow: 
      inset 0 1px 0 0 #f4f4f4,
      0 1px 0 0 #efefef,
      0 1px 0 0 #ececec,
      0 2px 0 0 #e0e0e0,
      0 2px 0 0 #dedede,
      0 3px 0 0 #dcdcdc,
      0 4px 0 0 #cacaca,
      0 4px 6px 0 #cecece;
}

body {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/370/608/909/background-earth-continents-world-map-hd-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }

#lang {
    position: fixed;
    top: 5px;
    right: 5px;
}

#countdown-container > p {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    font-size: 80vh;
    color: red;
    text-align: center;
    text-shadow: 8px 8px 8px black;
}
